<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ message.title }}</title>
    </head>
    <body>
        <p>{{ message.body }}</p>
        <button>
            <a href="/register">回到注册页</a>
        </button>
    </body>
</html>