.box {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
}
.div {
  composes: box;
  width: 100px;
  height: 100px;
  background: green;
}
.div div {
  width: 30px;
  height: 30px;
  background: yellow;
}
body {
  background: #f1f1f1;
}


/* :global(.box){
  margin: 30px;
} */